Django==1.11.28
PyYAML==3.10
django-bower==4.8.1
django-nose==1.2
-e git+https://github.com/leo-the-manic/django-simple-select.git@af06f35b74f921b5930f1e7bbebe92dee8ad4c09#egg=django_simple_select-master
nose==1.3.0
six==1.5.2
