<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>Add a Person</title>

        <link rel="stylesheet" type="text/css"
        href="{% static 'bootstrap/dist/css/bootstrap.css' %}">

        <link rel="stylesheet" type="text/css"
        href="{% static 'selectize/dist/css/selectize.bootstrap3.css' %}">

    </head>

    <body>
        <h1>Test forms</h1>
        <p>None of these forms submit, they just have autocomplete fields.</p>
        <h2>Add a new Person</h1>
        <form>
            {{ form.as_p }}
            <h3>Testing butons</h3>
            <p>Set company ID to <input id="newcompanyid" class="idfield" value="1">: <input type="submit" id="companybutton" value="Set"></p>
        </form>
        <h2>Add something that has a Person field</h2>
        <form>
            {{ form2.as_p }}
            <h3>Testing butons</h3>
            <p>Set person ID to <input id="newpersonid" class="idfield" value="1">: <input type="submit" id="personbutton" value="Set"></p>
        </form>
        <script src="{% static 'jquery/jquery.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}" 
            type="text/javascript"></script>
        <script src="{% static 'selectize/dist/js/standalone/selectize.min.js' %}" 
            type="text/javascript"></script>
        <script src="{% static 'simpleselect.js' %}" type="text/javascript"></script>
        <script language="javascript">
            $(function() {
                $("#companybutton").click(function(evt) {
                    evt.preventDefault();
                    $("#id_company").val($("#newcompanyid").val()).trigger('change');
                });
            });
        </script>
        <script language="javascript">
            $(function() {
                $("#personbutton").click(function(evt) {
                    evt.preventDefault();
                    $("#id_person").val($("#newpersonid").val()).trigger('change');
                });
            });
        </script>
    </body>
</html>
