<!DOCTYPE html>
<html>
    <head>
        <title>Add a Person</title>

        <link rel="stylesheet" type="text/css"
        href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">

        <script language="javascript"
            src="http://code.jquery.com/jquery-1.9.1.js"></script>

        <script language="javascript"
            src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

        <script language="javascript">

            function split(val) {
              return val.split( /,\s*/ );
            }

            function extractLast(term) {
              return split(term).pop();
            }

            $(function() {

                $("#companyname").autocomplete({
                    source: ["Macrohard", "Microsoft"],
                });
            });
        </script>

        <style type="text/css">
            body {
                font-family: sans-serif;
                font-size: 10pt;
            }
        </style>
    </head>

    <body>
        <h1>Add a Person</h1>
        <form action="{% url "demo_main" %}" method="POST">{% csrf_token %}
            {{ form.as_p }}
            <p>
                Company, take two:
                <input id="companyname">
                <input id="companyid" type="hidden">
            </p>
        </form>
    </body>
</html>
