<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>Add a Person</title>

        <link rel="stylesheet" type="text/css"
        href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">

        <script language="javascript"
            src="http://code.jquery.com/jquery-1.9.1.js"></script>

        <script language="javascript"
            src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

        <script language="javascript"
            src="{% static "simpleselect.js" %}"></script>

        <script language="javascript">
            $(function() {
                // debug info; show the <input hidden> was changed
                $(".simpleselect").change(function() {
                    alert(this + " (" + this.id + ") value is " +
                          $(this).val());
                });
            });
        </script>

        <style type="text/css">
            body {
                font-family: sans-serif;
                font-size: 10pt;
            }
        </style>
    </head>

    <body>
        <h1>Test forms</h1>
        <p>None of these forms submit, they just have autocomplete fields.</p>
        <h2>Add a new Person</h1>
        <form>
            {{ form.as_p }}
        </form>
        <h2>Add something that has a Person field</h2>
        <form>
            {{ form2.as_p }}
        </form>
    </body>
</html>
